* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 96px 24px 48px;
}

p {
  font-size: 1.25rem;
  padding: 0 24px;
}

strong {
  font-weight: bold;
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  min-height: 382px;
}

.intro-chunk p {
  max-width: 450px;
}

main {
  background-color: hsl(0deg, 0%, 30%);
  border-top: 8px hsl(0deg, 0%, 60%) solid;
}

.bottom-content {
  min-height: 450px;
  margin: 0 auto;
  max-width: 800px;
}

.card {
  padding-top: 8px;
  background: white;
  border-bottom: 8px hsl(0deg, 0%, 60%) solid;
  margin-top: 64px;
}

.indented-heading {
  padding: 8px 32px;
  margin: 0;
  margin-left: -8px;
  /* margin-right: 24px; */
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px hsl(45deg, 100%, 40%) solid;
  width: fit-content;
}
